<div id="side-menu" class="side-basket-outer-wrapper">
  <div class="side-basket-inner-wrapper">
    <div class="side-basket-collection">
      <div class="side-basket-outer-block">
        <div class="side-basket-inner-addit-block">
          <div class="basket-title">
            Корзина
          </div>
        </div>
      </div>
      <div class="side-basket-outer-block">
        <div class="side-basket-inner-main-block">
          <div class="side-basket-viewport-product">

            {{basket-list items=items}}

        </div>
      </div>
      <div class="btn-warp">
        <button type="button" name="button" class="btn-content btn-white" {{action "openModalDialog"}}>Продолжить</button>
      </div>
  </div>
</div>

<div class="modal-container" id="modalDialog">
  <div class="close-btn" {{action "closeModalDialog"}}>
    <i class="fas fa-times"></i>
  </div>
  <div class="container">
    <div class="panel content-table" id="content-table">
      <div class="content-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="content-img">
        <h2 class="content-header">Срочно</h2>
        <ul class="content-features">
          <li class="content-features-item">Только в Москве</li>
          <li class="content-features-item">Индивидуальный <br> план</li>
        </ul>
        <span class="content-price">700₽</span>
        <button type="button" class="btn-content btn-white" id="1" {{action "choosePlan" id}} >Выбрать</button>
      </div>
      <div class="content-plan">
        <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="content-img">
        <h2 class="content-header">Бесплатно</h2>
        <ul class="content-features">
          <li class="content-features-item">Доставка в Москву, район Митино</li>
          <li class="content-features-item">Каждую субботу <br> с 10 до 13</li>
        </ul>
        <span class="content-price">0₽</span>
        <button type="button" class="btn-content btn-blue" id="2" {{action "choosePlan" this.id}}>Выбрать</button>
      </div>
      <div class="content-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="content-img">
        <h2 class="content-header">Далеко</h2>
        <ul class="content-features">
          <li class="content-features-item">Через вашу ТК</li>
          <li class="content-features-item">В следующую рабочую неделю</li>
        </ul>
        <span class="content-price">500₽</span>
        <button type="button" class="btn-content btn-white" id="3" {{action "choosePlan" this.id}} >Выбрать</button>
      </div>
    </div>

    <div class="panel content-table" id="data-table" style="display:none;">
      <div class="content-plan">
        <h3 class="content-header">Email для обратной связи</h3>
        <ul class="content-features">
          <div class="delimiter"></div>
          {{input type="text" class="input" value=name placeholder="Ваше имя"}}
          {{input type="email"class="input" value=email placeholder="Ваш email"}}
        </ul>
        <button type="button" class="btn-content btn-blue" {{action "sendData"}}>Отправить</button>
      </div>
    </div>

    <div class="panel content-table" id="info-table" style="display:none;">
      <div class="content-plan">
        <h2 class="content-header">Заказ успешно создан</h2>
        <h4 class="content-header" style="color:#69aeff">В ближайшее время с Вами свяжется наш специалист</h4>
        <!-- <ul class="content-features">
          <li class="content-features-item">В ближайшее время с Вами свяжется наш специалист</li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
</div>
</div>



      <!-- <button type="button" name="button" class="basket-buy-button" {{action }}>
        <span class="button-buy-desr">Продолжить
          ::after
        </span>
        <div class="button-buy-icon">
          <i class="fas fa-angle-double-right"></i>
        </div>
      </button> -->
