<style media="screen">
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

body {
    background-color: #edeef0;
}

.auth-container, .auth-inner-container, .auth-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.auth-container, .auth-content {
  -webkit-justify-content:center;
  -ms-flex-pack: center;
  justify-content: center;
}

.auth-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #edeef0;


}

.auth-inner-container {
    width: 440px;
    padding: 40px;

    background-color: white;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

    flex-direction: column;

    /* background:hsla(220, 10%, 15%, 0.8); */
}

.auth-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

.auth-viewbox {
}

h1 {
    min-height: 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.auth-content {
  width: 100%;
  height:100%;
}

.control-group {
  height: 50px;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

.auth-title-field {
  color: #87909c;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
}

.few-elem {
  font-size:12px;height:20px;
  display: flex;
  justify-content: space-around;
  width:90%;
  margin-top: 15px;
}

.space {
  margin-top: 10px;
}

.none-select {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.login-btn {
margin-top: 15px;
display:block;
line-height: 58px;
padding: 0;
text-align: center;
text-decoration: none;
width: 80%;

background-color: #7289da;
border: none;
border-radius: 3px;
color: #fff;
cursor: pointer;
font-size: 16px;
font-weight: 500;
line-height: 16px;
padding: 10px 20px;
position: relative;
}

.auth-footer {
  margin-top:7px;
  /* margin-bottom: 0; */
color: #ccc;
font-size: 12px;
line-height: 14px;
}


/*default input*/
.control-group {
  height: 50px;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
.space {
  margin-top: 10px;
}
.auth-sub-title {
  font-family: 'Roboto', sans-serif;
  color: #87909c;
display: block;
font-size: 11px;
font-weight: 700;
text-transform: uppercase;
}
.none-select {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.col-3{ position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.effect-2 {border: 0;outline: none;  border-bottom: 1px solid #ccc;}
.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #7289da; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
/**/
</style>


<body>
<div class="flexbox">
  <div class="left-menu-bar-warp">
    {{left-menu-bar}}
  </div>
  <div class="main">
    {{side-basket}}

    <div class="auth-container">
      <div class="auth-inner-container">
          <div class="auth-viewbox">
            <i class="fas fa-users fa-5x" style="color:#87909c;"></i>
          </div>
          <!-- <div class="auth-content"> -->
            <div class="auth-title-field">
              <!-- <h1>Авторизация</h1> -->
            </div>

            <div class="control-group space">
              <label class="auth-sub-title none-select">Логин</label>
              <div class="col-3">
                {{input type="text" class="effect-2" value=login}}
                  <span class="focus-border"></span>
              </div>
            </div>

            <div class="control-group space">
              <label class="auth-sub-title none-select">Пароль</label>
              <div class="col-3">
                {{input type="password" class="effect-2" value=password}}
                  <span class="focus-border"></span>
              </div>
            </div>



            <div class="control-group few-elem">
              <div class="ui checkbox" >
                <input type="checkbox" id="store_checkbox">
                <label for="store_checkbox" style="font-size:12px;color:#87909c;cursor:pointer" class="none-select">Запомнить</label>
              </div>
              <a href="#" class="none-select">Напомнить пароль</a>
            </div>
            <button type="button" name="button" class="login-btn none-select" {{action "logIn"}}>Войти</button>
            <footer class="auth-footer none-select">
              {{#link-to 'registration' tagName="a"}}Зарегистрироваться{{/link-to}}
            </footer>
      </div>
    </div>

  </div>
</div>
</body>
