<style>
  body {background-color: #edeef0;}

  .flexbox {
    display: flex;
  }

  .sidebar {
    flex: 0 0 auto;
    width: 260px;
  }
  .main {
    flex: 1 1 auto;
  }

  .catalog-container, .container-inner, .search-bar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content:center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .catalog-container {
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
  }

 .container-inner {
    width: 960px;
    min-height: 100vh;

    background-color: #ffffff;
    box-shadow: 1px 0px 4px 0px #ccc;
  }

.angle {
  font-size: 18px;
  color: #c3c3c3;
}

.angle.selected {
  color: #4a4a4a;
}
.angle-left {
  margin-left:7px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.highlight{
	border:1px solid green;
}


</style>

  <body>
  <div class="flexbox">
    {{left-menu-bar}}
    <div class="main">
      {{side-basket items=items}}
      <div class="catalog-container">
        <div class="container-inner">
            {{#list-filter filter=(action 'filterByName') as |resultItems i|}}
            <ul class="responsive-table">
              <li class="table-header" >
                <div class="col col-1">Наименование</div>
                <div class="col col-2 radio-group">Год<i class="fas fa-angle-up angle angle-left radio" note="up" {{action 'sortColumn' value="target.note"}}></i><i class="fas fa-angle-down angle radio" data-value="down"></i></div>
                <div class="col col-3">Количество<i class="fas fa-angle-up angle angle-left radio"></i><i class="fas fa-angle-down angle"></i></div>
                <div class="col col-4">Цена<i class="fas fa-angle-up angle angle-left"></i><i class="fas fa-angle-down angle"></i></div>
                <div class="col col-5">Примечание</div>
              </li>
              {{#each resultItems as |itemUnit|}}
                {{item-list item=itemUnit  gotItem=(action 'getBasketItem')}}
              {{/each}}
            </ul>
              {{/list-filter}}
        </div>
      </div>
    </div>
  </div>
  </body>

{{outlet}}
